<html>
<head>
    <title>Barry</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../botsFile/bots.css" rel="stylesheet" />
    <style>
        .dco {
        width:100%;
         height:100%
        }
    </style>
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:200" rel="stylesheet" type="text/css">
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"/> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <base href="http://office.com" />
    </head>
<body>
    <!--add bots html-->
    <!--<div class="container">
        <input id="speech" type="text">
        <button id="rec" class="btn1"><i class="fa fa-microphone" aria-hidden="true"></i></button>
        <div id="spokenResponse" class="spoken-response">
            <div class="spoken-response__text"></div>-->
            <!--<input id="speech" type="text">
        <button id="rec" class="btn1"><span><i class="fa fa-microphone" aria-hidden="true"></i></span></button>
        <div id="spokenResponse" class="spoken-response">
            <div class="spoken-response__text"></div>
        </div>-->
        <!--</div>
        </div>
    <div class="debug">
        <div class="debug__btn btn">
            Debug JSON results
        </div>
        <div class="debug__content">
            <textarea id="response" cols="40" rows="20"></textarea>
        </div>
    </div>-->
    <!--add bots html-->
    <div class="jumbotron">
        <div ng-controller="PostCtrl">
            <div class="form-group">
                <label for="name">Search:</label>
                <input id="name" class="form-control" name="name" ng-model="obj.Name" type="text" /><br />
            </div>
            <div ng-click="go('/List')" class="btn btn-success">ADDUSER</div><br />
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name </th>
                        <th>Age </th>
                        <th>DOB </th>
                        <th>Operation </th>
                    </tr>
                </thead>
                <tr ng-repeat=" list in _PromiseGet | filter:obj">
                    <td>{{list.Age}}</td>
                    <td>{{list.Name}}</td>
                    <td>{{list.dateOfBirth}}</td>
                    <td>
                        <input type="button" ng-click="delete(list.ID)" value="delete" class="btn btn-danger" />
                        <a ui-sref="EditData({id:list.ID})" class="btn btn-success">Edit</a>
                        <!--<input type="button" ng-click="Edit(list.ID)" value="Edit" class="btn btn-info" />-->
                    </td>

                </tr>
            </table>
        </div>
    </div>

   
    <iframe src='../PDF/Untitled.doc' name="iframe_a"></iframe>
   
    <iframe class="doc" src="https://docs.google.com/gview?url=../PDF/Untitled.doc&embedded=true"></iframe>
    <embed src="../PDF/Accounts Transactions Business Logic amendments.pdf" type="application/pdf" width="100%" height="100%">
    <a href="javascript:void(0)" target="_blank" ng-click="OpenPdfPopup($event,data.documentPath)"><i class="fa fa-arrow-circle-right" style="font-size:19px"></i></a>
  
</body>
</html>
   