<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="jumbotron" ng-controller="PostCtrl">
        <input type="text" ng-model="getIdParams.Name" value="{{getIdParams.Name}}" />
        <input type="text" ng-model="getIdParams.Age" value="{{getIdParams.Age}}" />
        <input type="text" ng-model="getIdParams.dateOfBirth" value="{{getIdParams.dateOfBirth}}" />
        <input type="submit" ng-click="updateAll(getIdParams)" value="Save" class="btn btn-success" />
    </div>
</body>
</html>
